<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Update Data Source with your actual SQL Server instance name, e.g., .\SQLEXPRESS or localhost -->
    <add name="StudentPortalConnection" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=StudentPortalDB;Integrated Security=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <!-- Enable unobtrusive validation mode for Web Forms -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
