<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="StudentPortalConnection" 
         connectionString="Data Source=|DataDirectory|\StudentPortal.db;Version=3;" 
         providerName="Mono.Data.Sqlite" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="Mono.Data.Sqlite, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" />
    
    <!-- Fix ViewState decryption errors on Docker/Mono -->
    <machineKey 
      validationKey="A1B2C3D4E5F60718293A4B5C6D7E8F901A2B3C4D5E6F708192A3B4C5D6E7F809112233445566778899AABBCCDDEEFF00112233445566778899AABBCCDDEEFF"
      decryptionKey="1A2B3C4D5E6F708192A3B4C5D6E7F809112233445566778899AABBCCDDEEFF00"
      validation="SHA1" decryption="AES" />

    <!-- Enable unobtrusive validation mode for Web Forms -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
